<!-- Start Slider home -->
<div class="slideshow-container">
    <div class="mySlides fade">
        <img
            src="../../assets/img/home/Rectangle 2-min.png"
            style="width: 100%"
            alt="slider1"
            draggable="false"
        />
    </div>

    <div class="mySlides fade">
        <img
            src="../../assets/img/home/slide4.png"
            style="width: 100%"
            alt="slider2"
            draggable="false"
        />
    </div>

    <div class="mySlides fade">
        <img
            src="../../assets/img/home/1_img_home_slide_2-min.png"
            style="width: 100%"
            alt="slider3"
            draggable="false"
        />
    </div>

    <div class="mySlides fade">
        <img
            src="../../assets/img/home/1_img_home_slide_3-min.png"
            style="width: 100%"
            alt="slider4"
            draggable="false"
        />
    </div>

    <!-- <a class="prev" (click)="plusSlides(-1)">❮</a>
<a class="next" (click)="plusSlides(1)">❯</a> -->
    <div class="list-dost" style="text-align: center">
        <span class="dot" (click)="currentSlide(1)"></span>
        <span class="dot" (click)="currentSlide(2)"></span>
        <span class="dot" (click)="currentSlide(3)"></span>
    </div>
</div>
<!-- End Slider home -->
<div class="container-home box-v1">
    <!-- Start Line & Logo Main -->
    <div class="line-straight-main"></div>

    <div class="logo-main">
        <div class="logo-main-center">
            <img
                src="../../assets/img/home/Group 28523.png"
                alt="logo-main"
                draggable="false"
            />
        </div>
    </div>

    <div class="content-box-1">
        <h2>VOLIO VIETNAM</h2>
        <p>
            VOLIO VIETNAM là công ty công nghệ chuyên phát triển ứng dụng và trò
            chơi cho thiết bị di động trên 2 nền tảng chính là Android và iOS.<br>
            Sau 2 năm hoạt động, VOLIO đã đạt mốc 50 triệu lượt tải với nhiều
            ứng dụng đạt TOP 1 trên thị trường Việt Nam cũng như thế giới.
        </p>
    </div>
</div>

<div class="policy">
    <div class="boy-girl"></div>
    <div class="container-home">
        <div class="policy-main">
            <div class="list-policy">
                <div class="item-policy">
                    <img
                        src="../../assets/img/home/icon-v1.png"
                        alt="policy-v1"
                        draggable="false"
                    />
                    <h6>Tầm nhìn</h6>
                    <p>
                        Trở thành một tập đoàn công nghệ hàng đầu Việt Nam tập trung
                        phát triển trong các lĩnh vực trọng yếu.
                    </p>
                </div>
                <div class="item-policy">
                    <img
                        src="../../assets/img/home/icon-v2.png"
                        alt="policy-v2"
                        draggable="false"
                    />
                    <h6>Sứ mệnh</h6>
                    <p>
                        Đem lại một cuộc sống tốt đẹp hơn cho tất cả mọi người bằng
                        những công nghệ hàng đầu
                    </p>
                </div>
                <div class="item-policy">
                    <img
                        src="../../assets/img/home/icon-v3.png"
                        alt="policy-v3"
                        draggable="false"
                    />
                    <h6>Mục tiêu</h6>
                    <p>
                        Trở thành công ty công nghệ phát triển ứng dụng trên di động
                        hàng đầu Việt Nam
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- End Line & Logo main  -->

<!-- Strart achievement  -->
<div class="container-home box-v2">
    <div class="line-straight-main"></div>
    <div class="content-box-2">
        <h6>Thành tựu</h6>
    </div>
</div>
<div class="achievement">
    <div class="achievement-main container-home">
        <div class="list-achievement">
            <div class="item-achievement">
                <div class="statistical">
                    <div class="numbers-item-left">
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                    </div>
                    <div class="statistical-item">
                        <span class="number">100</span>
                        <span class="unit">Triệu</span>
                    </div>
                </div>
                <div class="type-statistical">Người dùng toàn cầu</div>
                <div class="icon-statistical">
                    <img
                        src="../../assets/img/home/icon-v4.png"
                        alt="policy-v4"
                        draggable="false"
                    />
                </div>
            </div>
            <div class="item-achievement">
                <div class="statistical">
                    <div class="numbers-item-left">
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                    </div>
                    <div class="statistical-item">
                        <span class="number">60</span>
                    </div>
                </div>
                <div class="type-statistical">Sản phẩm: App & Game</div>
                <div class="icon-statistical">
                    <img
                        src="../../assets/img/home/icon-v5.png"
                        alt="policy-v5"
                        draggable="false"
                    />
                </div>
            </div>
            <div class="item-achievement">
                <div class="statistical">
                    <div class="numbers-item-left">
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                    </div>
                    <div class="statistical-item">
                        <span class="number">50</span>
                    </div>
                </div>
                <div class="type-statistical">Thành viên nhân sự</div>
                <div class="icon-statistical">
                    <img
                        src="../../assets/img/home/icon-v6.png"
                        alt="policy-v6"
                        draggable="false"
                    />
                </div>
            </div>
            <div class="item-achievement">
                <div class="statistical">
                    <div class="numbers-item-left">
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                        <div>
                            <span class="material-symbols-outlined icon-level">
                                <img src="../../assets/img/home/Vector.png" alt="policy-v4">
                            </span>
                        </div>
                    </div>
                    <div class="statistical-item">
                        <span class="number">10</span>
                        <span class="unit">Triệu</span>
                    </div>
                </div>
                <div class="type-statistical">Người dùng hàng ngày</div>
                <div class="icon-statistical">
                    <img
                        src="../../assets/img/home/icon-v7.png"
                        alt="policy-v7"
                        draggable="false"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End achievement -->

<!-- Start Product -->
<div class="container-home box-v2">
    <div class="line-straight-main"></div>
    <div class="content-box-2">
        <h6>Sản Phẩm</h6>
        <p>
            Với mục tiêu trở thành tập đoàn công nghệ hàng đầu Việt Nam chúng
            tôi không ngừng nỗ lực nghiên cứu và phát triển các sản phẩm, các dự
            án và các công ty ở nhiều lĩnh vực khác nhau. Dưới đây là những lĩnh
            vực mà chúng tôi đã và đang triển khai:
        </p>
    </div>
</div>

<div class="product">
    <div class="product-bgr"></div>
    <div class="product-main container-product">
        <div
            class="item-product item-product-v1"
            [routerLink]="['san-pham']"
            (click)="openTabs(0)"
        >
            <div>
                <img
                    src="../../assets/img/home/icon-v8.png"
                    alt="item-product-v1"
                    draggable="false"
                />
                <p>Mobile App</p>
            </div>
        </div>
        <div
            class="item-product item-product-v2"
            [routerLink]="['san-pham']"
            (click)="openTabs(1)"
        >
            <div>
                <img
                    src="../../assets/img/home/icon-v10.png"
                    alt="item-product-v1"
                    draggable="false"
                />
                <p>Mobile Game</p>
            </div>
        </div>
        <div class="logo-product">
            <img
                src="../../assets/img/home/icon-v12.png"
                alt="logo-product"
                draggable="false"
            />
            <p>VOLIO VIETNAM</p>
        </div>
        <div
            class="item-product item-product-v3"
            [routerLink]="['san-pham']"
            (click)="openTabs(2)"
        >
            <div>
                <img
                    src="../../assets/img/home/icon-v9.png"
                    alt="item-product-v1"
                    draggable="false"
                />
                <p>
                    Business<br />
                    Solution
                </p>
            </div>
        </div>
        <div
            class="item-product item-product-v4"
            [routerLink]="['san-pham']"
            (click)="openTabs(2)"
        >
            <div>
                <img
                    src="../../assets/img/home/icon-v11.png"
                    alt="item-product-v1"
                    draggable="false"
                />
                <p>Dropshipping<br />POD</p>
            </div>
        </div>
    </div>
</div>

<!-- End Product -->

<!-- Start recruitment -->

